@import '../../../styles/common';

.root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.appToolbar {
  height: 30px;
}
.appWorkspace {
  position: absolute;
  top: 33px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
