@import '../../styles/common';

:global {
  .selectproject-dialogMainOverride {
    width: 28%;
    max-width: 600px;
    overflow: hidden;
    background-color: $ms-color-neutralLight;
  }

  .ms-Dialog-title {
    @include ms-font-m;
    padding: 10px 15px;
  }

  .ms-Dialog-inner {
    padding: 2px 2px;
  }

  .ms-Dialog--close {
    width: 100%;
  }
}

.projectListContainer {
  height: 430px;
  max-height: 600px;
  background-color: $ms-color-neutralLighterAlt;
  overflow: hidden;
  font-size: 14px;
}

.spinnerContainer {
  margin: 0 auto;
  padding: 200px 0;
}
