@import '../../styles/common';

.projectListContainer {
  &-container {
    height: inherit;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &-itemCell {
    @include focus-border();
    cursor: pointer;
    min-height: 54px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid $bodyDividerColor;
    display: flex;
    &:hover {
      background-color: $ms-color-neutralLighter;
    }
  }

  &-itemImage {
    flex-shrink: 0;
  }
}

.detailslist {
  font-size: $ms-font-size-m-plus;
}
