@import '../../../styles/common';

.root {
  width: 100%;
  height: 100%;
  margin: 0px 0;
  cursor: pointer;
  position: relative;
}

.head {
  line-height: 24px;
  height: 24px;
  padding-left: 10px;
  font-size: 0.8rem;
  background-color: $ms-color-neutralLight;
  display: flex;
}

.title {
  flex-grow: 1;
}

.toolbar {
  margin-right: 5px;
}

.toolbarIcon {
  margin: 0 12px 0 0;
}

.content {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 0;
  right: 0;
}
